/* Général et global*/

* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	font-family: var(--police-texte);
	font-size: var(--texte-sm);
	font-weight: normal;
	color: var(--coul-texte);
	min-height: 100vh;
}

main {
	display: flex;
	flex-wrap: wrap;
	gap: var(--espace-2);
}

img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

ul {
	list-style-type: none;
}

a {
	color: var(--coul-texte);
}

/* mobile */

@media screen and (max-width: 480px) {
	main {
		gap: var(--espace-1);
	}
}
