{% extends "base.html" %}

{% block title %}Créer un profil{% endblock %}

{% block body %}

    <h1>Créer un profil</h1>

    <form action="store" method="post" novalidate>
        <label>Utilisateur
            <input type="text" name="id"></input>
        </label>
        <label>Mot de passe
            <input type="password" name="password" ></input>
        </label>
        <label>Alias
            <input type="text" name="alias" ></input>
        </label>
        <input type="hidden" name="privilege_id" value="2"> 
        <div class="boutons" >
            <input class="bouton" type="submit" value="Enregistrer">
        </div>
    </form>
{% endblock %}
