[data-page="accueil"] {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	color: var(--coul-texte);
	gap: 0;

	& > h2 {
		text-align: center;
		margin-bottom: var(--espace-3);
	}

	& .banner {
		display: flex;
		padding: var(--espace-3) var(--espace-6) var(--espace-3) var(--espace-3);
		gap: var(--espace-3);
		background-color: var(--coul-secondaire);

		& h1 {
			color: var(--coul-texte-clair);
			margin-bottom: var(--espace-2);
		}
		& p {
			color: var(--coul-texte-clair);
		}

		& .banner__img {
			flex: 25%;
		}

		& .banner-info__liste {
			column-count: 2;
			column-gap: var(--espace-2);

			& .banner-info__item {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: var(--espace-1);
				margin-bottom: var(--espace-2);

				& .banner__icon {
					width: var(--espace-2);
					display: flex;
					justify-content: center;
					color: var(--coul-arriere-plan);
				}
			}
		}

		& .banner-info__btn {
			display: flex;
			justify-content: flex-start;
		}
	}

	& .CTA {
		display: flex;
		gap: var(--espace-half);
		align-items: center;
		margin-top: var(--espace-3);
		padding: 0 var(--espace-3);

		& .CTA__item,
		.btn,
		.CTA__form {
			background-color: var(--coul-principale);
			color: var(--coul-texte-clair);
			text-align: center;
			font-size: var(--texte-sm);
			font-weight: bold;
			text-transform: uppercase;
			padding: var(--espace-3);
			letter-spacing: 2px;
			line-height: 150%;
			width: 33.33%;
		}

		& .CTA__form {
			padding: 0 0;

			& .btn {
				width: 100%;
				flex: 1;
			}
		}

		& a {
			text-decoration: none;
			color: var(--coul-texte-clair);
			text-align: center;
		}

		& .CTA__item:hover,
		.btn:hover {
			background-color: var(--coul-secondaire);

			& a {
				text-decoration: none;
				color: var(--coul-texte-clair);
			}
		}
	}

	.liste {
		margin-top: var(--espace-3);

		.item {
			width: calc(20% - var(--espace-1));
		}
	}
	@media screen and (max-width: 1024px) {
		& .banner {
			gap: var(--espace-3);
			padding: var(--espace-3);

			& .banner-info__liste {
				column-count: 1;
			}
		}
	}

	@media screen and (max-width: 480px) {
		& .banner {
			flex-direction: column;
			gap: var(--espace-1);
			padding: var(--espace-2);

			& .banner__img {
				flex: 25%;
			}

			& .banner-info__liste {
				column-count: 1;

				& button {
					margin-top: var(--espace-half);
				}
			}
		}
		& .CTA {
			flex-direction: column;
			gap: var(--espace-quart);
			margin-top: var(--espace-1);
			padding: 0;

			& .CTA__item {
				width: 100%;
				padding: var(--espace-3) var(--espace-half);
			}

			& .CTA__form {
				width: 100%;
			}

			& a {
				text-decoration: none;
				color: var(--coul-texte-clair);
				text-align: center;
			}
		}
		& .promo {
			.liste {
				.item {
					width: calc(20% - var(--espace-1));
				}
			}
		}
	}
}
