.pageProfil {
	display: flex;
	flex-direction: column;
	padding: var(--espace-4);
	padding-top: 0;
	/* align-items: center; */

	& .pageProfil__col {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin: var(--espace-2) 0;

		& .listeTimbres__liste {
			display: flex;
			flex-direction: column;
			gap: var(--espace-2);

			& .listeTimbres__item {
				display: flex;
				align-items: center;
				gap: var(--espace-2);

				& .listeTimbres__timbre {
					width: 10rem;
					& .listeTimbres__image {
						height: 10rem;
						aspect-ratio: 1/1;
						background-color: var(--coul-neutre);
						padding: var(--espace-half);
						margin-bottom: var(--espace-1);
					}
				}
			}

			& .listeTimbres__actions {
				display: flex;
				flex-direction: column;
				gap: var(--espace-half);
			}
		}
	}
}
