[data-page="profil"] {
	display: flex;
	flex-direction: column;
	padding: var(--espace-2);

	& h1 {
		text-align: center;
		margin: var(--espace-1);
		flex: 1;
	}

	& .actions {
		margin: auto;
	}
	& .col {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: var(--espace-2);
		margin-top: var(--espace-2);

		& > * {
			border: 0.5px solid var(--coul-principale);
			padding: var(--espace-2);
			flex: 1;
		}

		& .listeTimbres__liste {
			display: flex;
			flex-direction: column;
			gap: var(--espace-2);

			& .listeTimbres__item {
				display: flex;
				align-items: center;
				gap: var(--espace-2);

				& .listeTimbres__timbre {
					width: 10rem;
					& .listeTimbres__image {
						height: 10rem;
						aspect-ratio: 1/1;
						background-color: var(--coul-neutre);
						padding: var(--espace-half);
						margin-bottom: var(--espace-1);
					}
				}
			}

			& .listeTimbres__actions {
				display: flex;
				flex-direction: column;
				gap: var(--espace-half);
			}
		}
	}
}
