.breadcrumb {
	flex: 100%;
	font-family: var(--police-texte);
	font-size: var(--texte-sm);
	color: var(--police-texte);
	padding: var(--espace-2) 0;
	font-weight: normal;

	& .btn {
		padding: var(--espace-half);
	}
}

/* mobile */

@media screen and (max-width: 480px) {
	.breadcrumb {
		display: none;
	}
}
