.formulaire {
	display: flex;
	flex-direction: column;
	gap: var(--espace-1);
	margin: var(--espace-5) auto var(--espace-10);
	background-color: var(--coul-neutre);
	padding: var(--espace-4);
	width: 32rem;

	& * {
		flex: 1;
	}

	& .formulaire__form {
		display: flex;
		flex-direction: column;
		gap: var(--espace-1);
		margin-top: var(--espace-1);
	}

	& .msg-error {
		color: var(--coul-texte-erreur);

		& li {
			padding: var(--espace-quart) 0;
			line-height: 1.4rem;
		}
	}

	& input[type="checkbox"] {
		opacity: 1;
		width: var(--espace-2);
		border: 2px solid var(--coul-principale);
		margin: var(--espace-1) 0;
	}

	& button {
		margin-top: var(--espace-1);
	}
}
