.menu-bar {
	opacity: 1;
	position: fixed;
	background-color: rgba(255, 0, 0, 0);
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	margin: 0;
	transition: opacity 0.3s ease, transform 0.3s ease;

	.fa-xmark {
		color: var(--coul-arriere-plan);
		margin-bottom: var(--espace-2);
	}

	.fa-chevron-left {
		display: none;
	}

	.menu-bar__item {
		opacity: 1;
		position: fixed;
		background-color: var(--coul-modal);
		height: auto;
		width: auto;
		top: 0;
		right: 0;
		margin: 0;
		padding: var(--espace-5) var(--espace-2);
		display: flex;
		justify-content: center;

		flex-direction: column;
		gap: var(--espace-2);
	}
}

.menu-bar--ferme {
	opacity: 0;
	pointer-events: none;
	transform: translateX(100px);
}
