{% extends "base.php" %}

{% block title %}Modifier l'enchère{% endblock %}

{% block body %}
<main class="formulaire">
    <h1>Modifier l'enchère</h1>

    {% if msg %}
    <span class="msg-succes">
        {{ msg }}
    </span>
    {% endif %}

    {% if errors is defined %}
    <ul class="msg-error">
        {{ errors | raw }}
    </ul>
    {% endif %}

    <form class="formulaire__form" action="{{url_racine}}enchere/update/{{enchere_id}}" method="post" novalidate>

        <label for="date_debut">Date de début <i class="fa-solid fa-star-of-life fa-2xs"></i></label>
        <input type="datetime-local" id="date_debut" name="date_debut" value="{{enchere.date_debut}}" ></input>  
        <label for="date_fin">Date de fin <i class="fa-solid fa-star-of-life fa-2xs"></i></label>
        <input type="datetime-local" id="date_fin" name="date_fin" {% if enchere.date_fin %} value="{{enchere.date_fin}}" {% else %} value="'now'|date('d-m-Y')" {% endif %} ></input>  

        <label for="prix_plancher">Prix plancher <i class="fa-solid fa-star-of-life fa-2xs"></i></label>
        <input type="number" step="0.01" id="prix_plancher" name="prix_plancher" value="{{enchere.prix_plancher}}"> </input>  

        <fieldset class="radioImg">
            <span>Choississez une image principale <i class="fa-solid fa-star-of-life fa-2xs"></i></span>
            {% for image in images %}
            <label class="radioImg__label"> 
                <input type="radio" value="{{ image.nom }}" name="imagePrincipale" class="radioImg__radio" {% if image.nom == enchere.imagePrincipale %} checked {% endif %}/>
                <img src="{{url_racine}}assets/img/jpg/{{ image.nom }}" alt="Image du timbre {{image.nom}}">
            </label>          
            {% endfor %}
        </fieldset>

        <button type="submit" class="btn btn--principal" aria-label="Enregistrer">
            Terminer
        </button>
    </form>
    <a class="btn btn--secondaire" href="{{url_racine}}profil/index">Annuler</a>

</main>

{% endblock %}
