{% extends "base.php" %}

{% block title %}#{{enchere.enchere_id}} {{enchere.timbre_nom}} {% endblock %}

{% block body %}
    <main data-page="enchere">
        <section class="modal modal--ferme" data-js-modal="exit">
            <span class="modal__icon" data-js-modal-button><i class="fa-solid fa-xmark"></i></span>
            <div class="modal__image" data-js-modal="divImage">
                <img data-js-modal="image" src="" alt="image du timbre en recto">
            </div>
        </section>
        <div class="breadcrumb">
            <span class="note btn btn--tertiaire"><a href="{{url_racine}}"> Accueil </a></span> / <span class="note btn btn--tertiaire"> <a href="{{url_racine}}enchere/index">Catalogue</a></span> / <span class="note btn btn--tertiaire"> <a href="{{url_racine}}enchere/show/{{enchere.enchere_id}}">{{enchere.timbre_nom}} {{enchere.timbre_nom_2}} </a></span>
        </div>
        <div class="images"  data-js-component="Image">
            <div class="images__thumbnails-container">
                {% for image in images %}
                <div class="images__thumbnails-item {% if image.nom == imagePrincipale %} images__thumbnails-item--active {% endif %}" data-js-thumbnail="{{ image.nom }}">
                    <img src="{{url_racine}}assets/img/jpg/{{ image.nom }}" loading="lazy" alt="image du paquet">
                </div>
                {% endfor %}
            </div>
            <div class="images__main" data-js-image>
                <img src="{{url_racine}}assets/img/jpg/{{ imagePrincipale}}" alt="image du timbre en recto">
            </div>
        </div>
        <div class="mise">
            <p class="note">
            {% if enchere.archive == true %} 
                <i class="fa-solid fa-box-archive"></i> Enchère terminée #{{enchere.enchere_id}}
            {% else %}
                Enchère #{{enchere.enchere_id}}
            {% endif %}
            </p>
            {% if enchere.coup_de_coeur == 1 %}
            <div class="item__coups-de-coeur item__coups-de-coeur--yes">
                <i class="fa-solid fa-heart"></i>
                <p class="note">Coups de coeur du Lord</p>
            </div>
            {% endif %}
            <h1>{{enchere.timbre_nom}} </h1>
            <p class="afterh1">{{enchere.timbre_nom_2}} </p>
            <table>
                <tr>
                    {% if enchere.archive != true %}
                    <th>Mise courante </th>
                    {% else %}
                    <th>Mise finale </th>
                    {% endif %}
                    <td class="mise__prix-courant">{{prixCourant}} <small class="prix_decimal"> $</small></td>

                </tr>
                <tr>
                    <th>Nombres de mises</th>
                    <td>{{nbOffres}}</td>
                </tr>
                <tr>
                    {% if enchere.archive != true %}
                    <th>Se termine au</th>
                    <td>{{enchere.date_fin}}</td>
                    {% endif %}
                </tr>

                <tr>
                    <th>État du produit</th>
                    <td>{{enchere.etat}}</td>
                </tr>
                <tr>
                    <th>Vendeur·euse</th>
                    <td>{{enchere.createur_nom}}</td>
                </tr>
            </table>
            {% if session.user_id != enchere.createur_id %}
                {% if enchere.archive != true %}
            <form class="form-mise" action="{{url_racine}}enchere/createOffre/{{enchere.enchere_id}}" method="post" novalidate>
                <fieldset>
                    <label for="prix" class="mise-lable">Votre mise</label>
                    <input id="prix" type="number" name="prix">
                </fieldset>


                    {% if msg %}
                <span class="msg-succes">
                    {{ msg }}
                </span>
                    {% endif %}
            
                    {% if errors is defined %}
                <ul class="msg-error">
                    {{ errors | raw }}
                </ul>
                    {% endif %}
                
                <button type="submit" aria-label="Miser" class="btn btn--principal item__btn">Miser</button>
            </form>

                {% endif %}

                {% if favoriSelect == true %}
            <form action="{{url_racine}}enchere/deleteFavori/{{enchere.enchere_id}}" method="post">
                <button class="btn btn--icon-text "><i class="fa-solid fa-star"></i>Enlever favori</button>
            </form>
                {% else %}
            <form action="{{url_racine}}enchere/createFavori/{{enchere.enchere_id}} " method="post">
                <button class="btn btn--icon-text "><i class="fa-regular fa-star"></i>Mettre en favoris</button>
            </form>
                {% endif %}
        {% endif %}


        </div>
        <div class="description">
            <div class="description__item">
                <p>Pays d’origine</p>
                <p>{{enchere.pays}}</p>
            </div>
            <div class="description__item">
                <p>Date d’émission</p>
                <p>{{enchere.date_emission}}</p>
            </div>
            <div class="description__item">
                <p>Dimension</p>
                <p>{{enchere.dimension}}</p>
            </div>
            <div class="description__item">
                <p>Tirage</p>
                <p>{{enchere.tirage}}</p>
            </div>
            <div class="description__item">
                <p>Description</p>
                <p>{{enchere.extrait}}</p>
                
            </div>
        </div>

        <div class="promo">
            <h2>Dernières nouveautés</h2>
            <div class="liste__contenu">   
                {% for enchereChaque in encheresNouveautes %}
                <div class="item">
                    <a href="{{url_racine}}enchere/show/{{enchereChaque.id}}" class="item__lien">
                        {% if enchereChaque.coup_de_coeur == 1 %}
                        <div class="item__coups-de-coeur item__coups-de-coeur--yes">
                            <i class="fa-solid fa-heart"></i>
                            <p class="note">Coups de coeur du Lord</p>
                        </div>
                        {% else %}
                        <div class="item__coups-de-coeur">
                        </div>
                        {% endif %}
                        <div class="item__contenu" data-js-tri>
                            <div class="item__img"><img src="{{url_racine}}assets/img/jpg/{{ enchereChaque.image }}" alt="Image du timbre"></div>
                            <p class="item__description">{{enchereChaque.timbre_nom}} {{enchereChaque.timbre_nom_2}}</p>
    
                        {% if enchereChaque.archivee == true %}
                            <div class="prix prix--archive">
                                <p class="prix__description prix__description--archive">Mise finale</p>
                                <p class="prix__montant prix__montant--archive">{{enchereChaque.mise_courante}}<small class="prix_decimal"> $</small></p>
                            </div>
                            <button class="btn btn--icon-text btn--disabled "><i class="fa-solid fa-box-archive"></i>Enchère terminée</button>
                        {% else %}
                            <div class="prix">
                                <p class="prix__description">Mise courante</p>
                                <p class="prix__montant">{{enchereChaque.mise_courante}}<small class="prix_decimal"> $</small></p>
                            </div>
                            <span class="btn btn--principal">Miser</span>
                        {% endif %}
    
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>

    {% endblock %}
