{% extends "base.html" %}

{% block title %}Créer une enchère{% endblock %}

{% block body %}
<main class="formulaire">
    <h1>Créer une enchère</h1>
    <span>Étape 2/2 : entrer informations de l'enchère</span>
    <ul class="msg-error">
    {% if errors is defined %}
        <li>{{ errors | raw }}</li>
    {% endif %}
    {% if msgs %}
        {% for msg in msgs %}
        <li>{{ msg }}</li> 
        {% endfor %}
    {% endif %}
    </ul>

    <form class="formulaire__form" action="storeEnchere" method="post" novalidate>

        <input type="hidden" name="timbre_id" {% if timbre_id is defined %} value="{{timbre_id}}" {% else %} value="{{enchere.timbre_id}}" {% endif %}>

        <label for="date_debut">Date de début <i class="fa-solid fa-star-of-life fa-2xs"></i></label>
        <input type="date" id="date_debut" name="date_debut" {% if enchere.date_debut %} value="{{enchere.date_debut}}"{% endif %} ></input>  

        <label for="date_fin">Date de fin <i class="fa-solid fa-star-of-life fa-2xs"></i></label>
        <input type="date" id="date_fin" name="date_fin" {% if enchere.date_fin %} value="{{enchere.date_fin}}" {% else %} value="'now'|date('d-m-Y')" {% endif %} ></input>  

        <label for="prix_plancher">Prix plancher <i class="fa-solid fa-star-of-life fa-2xs"></i></label>
        <input type="number" step="0.01" id="prix_plancher" name="prix_plancher" {% if enchere.prix_plancher %} value="{{enchere.prix_plancher}}" {% else %}value="" {% endif %}> </input>  

        <fieldset class="radioImg">
            <span>Choississez une image principale <i class="fa-solid fa-star-of-life fa-2xs"></i></span>
            {% for image in images %}
            <label class="radioImg__label"> 
                <input type="radio" value="{{ image.nom }}" name="imagePrincipale" class="radioImg__radio"/>
                <img src="{{url_racine}}assets/img/jpg/{{ image.nom }}" alt="Image du timbre {{image.nom}}">
            </label>          
            {% endfor %}
        </fieldset>


        <button type="submit" class="btn btn--principal" aria-label="Enregistrer">
            Terminer
        </button>
    </form>
    <a class="btn btn--secondaire" href="index">Annuler</a>

</main>

{% endblock %}
