{% extends "base.php" %}

{% block title %}Votre Compte{% endblock %}

{% block body %}
<main data-page="profil">
    <h1>Votre compte</h1>
    <div class="actions">
        <a href="{{url_racine}}timbre/create" aria-label="Ajouter un timbre" class="btn btn--principal">Vendre un nouveau timbre</a>
    </div>
    <div class="col">
        <div class="listeTimbres__liste">
            <h2>Timbres et enchères</h2>
            {% for timbre in timbres %}
            <div class="listeTimbres__item">
                {{ loop.index }}
                <div class="listeTimbres__timbre">
                    <div class="listeTimbres__image">
                        {% if timbre.enchere_id > 0  %}
                        <a href="{{url_racine}}enchere/show/{{timbre.enchere_id}}">
                        <img src="{{url_racine}}assets/img/jpg/{{ timbre.image }}" alt="Image du timbre {{timbre.nom}}">
                        </a>
                        {% else %}
                        <img src="{{url_racine}}assets/img/jpg/{{ timbre.image }}" alt="Image du timbre {{timbre.nom}}">
                        {% endif %}
                    </div>
                    {{ timbre.timbre_nom }} 
                </div>

                <div class="listeTimbres__actions">
                    
                    {% if timbre.enchere_id <= 0  %}
                    <form action="{{url_racine}}enchere/create/{{timbre.timbre_id}}" method="post">
                        <!-- <input type="hidden" name="timbre_id" value="{{timbre.timbre_id}}"> -->
                        <button class="btn btn--principal">Vendre</button>
                    </form>
                    <form action="{{url_racine}}timbre/edit/{{timbre.timbre_id}}" method="post">
                        <button class="btn btn--icon-text "><i class="fa-solid fa-pen"></i>Modifier le timbre</button>
                    </form>
                    <form action="{{url_racine}}timbre/delete/{{timbre.timbre_id}}" method="post">
                        <button class="btn btn--icon-text "><i class="fa-solid fa-trash"></i>Supprimer le timbre</button>
                    </form>
                    
                    {% else %}
                    <span>Enchère en cours</span>
                    <span>Prix plancher :  {{timbre.prix_plancher}} $</span>
                    <span>Date de fin : {{timbre.date_fin}}</span>
                    <form action="{{url_racine}}enchere/edit/{{timbre.enchere_id}}" method="post">
                        <!-- <input type="hidden" name="timbre_id" value="{{timbre.timbre_id}}"> -->
                        <button class="btn btn--icon-text "><i class="fa-solid fa-pen"></i>Modifier  l'enchère</button>
                    </form>
                    <form action="{{url_racine}}enchere/delete/{{timbre.enchere_id}}" method="post">
                        <!-- <input type="hidden" name="timbre_id" value="{{timbre.timbre_id}}"> -->
                        <button class="btn btn--icon-text "><i class="fa-solid fa-trash"></i>Annuler l'enchère</button>
                    </form>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="listeTimbres__liste">
            <h2>Historiques d'offre</h2>

            {% for offre in offres %}
            <div class="listeTimbres__item">
                {{ loop.index }}
                <div class="listeTimbres__timbre">
                    <div class="listeTimbres__image">
                        <a href="{{url_racine}}enchere/show/{{offre.enchere_id}}">
                        <img src="{{url_racine}}assets/img/jpg/{{ offre.image }}" alt="Image du timbre {{timbre.nom}}">
                        </a>
                    </div>
                    {{ offre.timbre_nom }} 
                </div>

                <div class="listeTimbres__actions">
                    <span>Votre mise :  {{offre.prix}} $</span>
                    <span>Mise courante : {{offre.mise_courante}} $</span>
                    <span>Date de fin : {{offre.date_fin}}</span>
                    <span  class="listeTimbres__btn">
                        <a href="{{url_racine}}enchere/show/{{offre.enchere_id}}" class="btn btn--secondaire">Miser</a>
                    </span>
                </div>
            </div>
            {% endfor%}
        </div>
        <div class="listeTimbres__liste">
            <h2>Enchères en favoris</h2>
            {% for favori in favoris %}
            <div class="listeTimbres__item">
                {{ loop.index }}
                <div class="listeTimbres__timbre">
                    <div class="listeTimbres__image">
                        <a href="{{url_racine}}enchere/show/{{favori.enchere_id}}">
                        <img src="{{url_racine}}assets/img/jpg/{{ favori.image }}" alt="Image du timbre {{timbre.nom}}">
                        </a>
                    </div>
                    {{ favori.timbre_nom }} 
                </div>

                <div class="listeTimbres__actions">
                    <span>Date de fin : {{favori.date_fin}}</span>
                    <span class="listeTimbres__btn">
                        <a href="{{url_racine}}enchere/show/{{favori.enchere_id}}" class="btn btn--principal">Miser</a>
                    </span>
                    <form action="{{url_racine}}profil/deleteFavori/{{favori.enchere_id}}" method="post">
                        <button class="btn btn--icon-text "><i class="fa-solid fa-star"></i>Enlever favori</button>
                    </form>
                </div>
            </div>
            {% endfor%}
        </div>
    </div>
</main>

{% endblock %}