{% extends "base.html" %}

{% block title %}Votre Compte{% endblock %}

{% block body %}
<main data-page="profil">
    <h1>Votre compte</h1>
    <div class="actions">
        <a href="createTimbre" aria-label="Ajouter un timbre" class="btn btn--principal">Vendre un nouveau timbre</a>
    </div>
    <div class="col">
        <div class="listeTimbres__liste">
            <h2>Vos timbres et enchères</h2>
            {% for timbre in timbres %}
            <div class="listeTimbres__item">
                {{ loop.index }}
                <div class="listeTimbres__timbre">
                    <div class="listeTimbres__image">
                        {% if timbre.enchere_id > 0  %}
                        <a href="{{url_racine}}enchere/show/{{timbre.enchere_id}}">
                        <img src="{{url_racine}}assets/img/jpg/{{ timbre.image }}" alt="Image du timbre {{timbre.nom}}">
                        </a>
                        {% else %}
                        <img src="{{url_racine}}assets/img/jpg/{{ timbre.image }}" alt="Image du timbre {{timbre.nom}}">
                        {% endif %}
                    </div>
                    {{ timbre.timbre_nom }} 
                </div>

                <div class="listeTimbres__actions">
                    
                    {% if timbre.enchere_id <= 0  %}
                    <form action="createEnchere" method="post">
                        <input type="hidden" name="timbre_id" value="{{timbre.timbre_id}}">
                        <button class="btn btn--principal">Vendre aux enchères</button>
                    </form>
                    
                    {% else %}
                    <span>Enchère en cours</span>
                    <span>Prix plancher :  {{timbre.prix_plancher}} $</span>
                    <span>Date de fin : {{timbre.date_fin}}</span>
                    {% endif %}
                    <form action="updateTimbre" method="post">
                        <input type="hidden" name="timbre_id" value="{{timbre.timbre_id}}">
                        <button class="btn btn--icon-text "><i class="fa-solid fa-pen"></i>Modifier</button>
                    </form>
                    <form action="deleteTimbre" method="post">
                        <input type="hidden" name="timbre_id" value="{{timbre.timbre_id}}">
                        <button class="btn btn--icon-text "><i class="fa-solid fa-trash"></i>Retirer</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="listeTimbres__liste">
            <h2>Votre historique d'offre</h2>
            {% for offre in offres%}
            <div class="listeTimbres__item">
                {{ loop.index }}
                <div class="listeTimbres__timbre">
                    <div class="listeTimbres__image">
                        <a href="{{url_racine}}enchere/show/{{offre.enchere_id}}">
                        <img src="{{url_racine}}assets/img/jpg/{{ offre.image }}" alt="Image du timbre {{timbre.nom}}">
                        </a>
                    </div>
                    {{ offre.timbre_nom }} 
                </div>

                <div class="listeTimbres__actions">
                    <span>Votre mise :  {{offre.prix}} $</span>
                    <span>Mise courante : {{offre.mise_courante}} $</span>
                    <span>Date de fin : {{offre.date_fin}}</span>
                    <a href="{{url_racine}}enchere/show/{{offre.enchere_id}}" class="btn btn--secondaire">Faire une autre mise</a>
                    <form action="updateTimbre" method="post">
                        <input type="hidden" name="timbre_id" value="{{offre.timbre_id}}">
                        <button class="btn btn--icon-text "><i class="fa-solid fa-pen"></i>Modifier</button>
                    </form>
                    <form action="deleteTimbre" method="post">
                        <input type="hidden" name="timbre_id" value="{{offre.timbre_id}}">
                        <button class="btn btn--icon-text "><i class="fa-solid fa-trash"></i>Retirer</button>
                    </form>
                </div>
            </div>
            {% endfor%}
        </div>
    </div>
</main>

{% endblock %}