{% extends "base.html" %}

{% block title %}Profil{% endblock %}

{% block body %}
<main data-page="profil">
    <h1>Profil</h1>
    <div>
        <a href="createTimbre" aria-label="Ajouter un timbre" class="btn btn--secondaire">Ajouter un timbre</a>
        <a href="showTimbre" aria-label="Afficher tous les timbres" class="btn btn--secondaire">Afficher tous les timbres</a>
        <a href="createEnchere" aria-label="Ajouter une enchères" class="btn btn--secondaire">Ajouter une enchères</a>
        <a href="showEnchere" aria-label="Afficher toutes les enchères" class="btn btn--secondaire">Afficher toutes les enchères</a>

    </div>
</main>

{% endblock %}